
@media (max-width: 650px) {

  #submenu {
    display: none !important;
  }
  h1 {
    font-size: 3rem !important;
    font-weight: 900;
    letter-spacing: 0rem;
    color: #333;
    text-align: center;
  }

  .panel {
    margin: 0 .5rem;
  }

  .content {
    width: 98%;
  }
  #logo {
    margin: auto;
    float: none;
    text-align: center;
  }
  .footer {
      margin: 0;
  }
  h3 {
    padding: 1rem !important;
  }
  .project {
    max-width: 100% !important;
    margin: .7rem 0;
    display: inline-block;
    opacity: .8;
    filter: none !important;
  }
  
  h2 {
    margin: 0 .5rem !important;
    padding: 0;
    margin-bottom: 3rem;
  }

  #menu {
    display: none !important;
  }

}



@media (min-width: 1500px) {

}
