html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;

}

a {
  text-decoration: none;
}


/* CONTAINERS & WRAP */
#logo {
  padding: 3rem;
  float: left;
}
  #logo img {
    transition: all 1s;
  }

#menu {
  float: right;
  padding: 3rem 8rem;
}

#menu a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #777;
  font-weight: 100;
  font-size: 1rem;
  margin: 0 1rem;
  letter-spacing: -.08rem;
}

#sidemenu {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  width: 3rem;
  padding: .1rem;
  padding-left: .5rem;
  padding-top: 3rem;
  text-align: left;
  height: 100%;
  opacity: 0;
  background: #fff;
}
  #sidemenu a {
    display: inline-block;
    padding: .5rem 0;
    filter: grayscale(100%);
    opacity: .5;
    transition: all .4s;
    text-align: center;
    border-bottom: solid 1px #ccc;
  }
  #sidemenu a img {
    width: 30%;
  }
      #sidemenu a:hover {
        filter: grayscale(0%);
        opacity: 1;
        background: #ececec;
      }

.panel {
  min-height: 100%;
  clear: both;
  margin-left: 5rem;
  padding-bottom: 30rem;
  position: relative;
}

.intro {
  padding-top: 5rem;
  padding-bottom: 0;
}

.footer {
  min-height: 60%;
  clear: both;
  padding-bottom: 3rem;
  padding-top: 6rem;
  margin-left: 0 !important;
  overflow: hidden !important;
  position: relative;
}

.skewme {
  transform: skewY(4.8deg);
  background: #555;
  width: 100%;
  height: calc(100% + 200px);
  top: 100px;
  position: absolute;
  z-index: -1;
}

/* HEADERS */
h1,h2 {
  font-family: "Montserrat", sans-serif;
  color: #444;
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -.3rem;
  color: #333;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 5rem;
  letter-spacing: -.3rem;
  line-height: 1em;
}

h3 {
    color: #fff;
    font-size: 2rem;
    padding-left: 5rem;
}


/* TEXTUAL ELEMENTS */
.content {
  font-size: 1.8rem;
  letter-spacing: normal;
  font-weight: 100;
  width: 50%;
}

.lead, .textual {
  font-family: "Open Sans";
  margin: 2rem 0;
  padding: 0;
}

.lead {
  font-size: 1.8rem;
  letter-spacing: normal;
  font-weight: 100;
  font-family: "Open Sans";
  width: 100%;
}

.textual {
  color: #666;
  font-size: .7em;
  font-weight: 400;
  line-height: 1.5em;
}

.textual b {
  color:  #333;
  font-size: .9em;
  display: inline-block;
  padding: 0 3px;
  margin: 1px;
}


/* PROJECT SHOWCASE */
#showcase {
  clear: both;
  padding: 3rem 0;
}

  #showcase .project {
    max-width: 30%;
    margin: .7rem;
    display: inline-block;
    opacity: .8;
    transition: all .4s;
    filter: grayscale(100%);
  }
    #showcase .project:hover {
      opacity: 1;
      filter: grayscale(0%);
    }

  #showcase .project img {
    width: 100%;
  }

  #showcase .project span {
    font-size: .8rem !important;
    letter-spacing: normal !important;
    font-weight: 100 !important;
    font-family: "Open Sans";
    color: #888 !important;
  }







.btn-clear {
  border: solid 2px #333;
  font-weight: 600;
  display: inline-block;
  transition: all .3s;
  position: relative;
  margin-right: 2em;
}
.btn-clear a {
  color: #333;
  text-decoration: none;
  position: relative;
  z-index: 2;
    padding: 1em 2em;
  transition: all .3s;
  display: inline-block;
}
.btn-clear span {
  position: absolute;
  transition: all .2s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.btn-clear:hover span {
  background: #333;
  color: #fff;
  width: 100%;
}
.btn-clear:hover a {
  color: #fff;
}
