html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.contact_icon {
  width: 80px;
  margin-top: 30px;
}
.w50 {
  width: 48%;
}
.floaty {
  float: left;
}
.floatyr {
  float: right;
}
.clear {
  clear: both;
}
.md-blue {
  color: #444 !important;
}
.panel {
  min-height: 100%;
}
#pnl_contact {

  overflow: hidden !important;
  position: relative;
}
.skewme {
  transform: skewY(4.8deg);
  background: #555;
  width: 100%;
  height: calc(100% + 200px);
  top: 200px;
  position: absolute;
  z-index: -1;
}
#pnl_samples {
  margin-top: 10rem;
}
.prj_img {
  max-width: 30%;
  margin: .7rem;
  display: inline-block;
  opacity: .8;
  transition: all .4s;
  filter: grayscale(100%);
}
.prj_img:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.prj_img img {
  width: 100%;
}
.prj_img span {
  font-size: .8rem !important;
  letter-spacing: normal !important;
  font-weight: 100 !important;
  font-family: "Open Sans";
  color: #888 !important;
}
#logo {
  padding: 3rem;
  float: left;
}
#logo img {
  transition: all 1s;
}

#logo:hover img {

}
#menu {
  float: right;
  padding: 3rem 8rem;
}

#menu a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #777;
  font-weight: 100;
  font-size: 1rem;
  margin: 0 1rem;
  letter-spacing: -.08rem;
}
.inv {
    background: #fff;
}
.highblue {
  background:  #e2f0f2;
  display: inline-block;
  padding: 0 3px;
  margin: 1px;
}

.highgrey {
  background:  #ececec;
  display: inline-block;
  padding: 0 3px;
  margin: 1px;
}

.lovingit, .whoami {

  margin-left: 5rem;
  padding-top: 16rem;
  margin-bottom: 3rem;
}
.whoami {
  margin-top: 0rem;
  padding-top: 3rem;
}
.lovingit span {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -.3rem;
  color: #333;
}
.thatsit {
  color: #fff;
  margin-top: 20rem;
  padding-top: 0rem;
  margin-left: 5rem;
  font-size: 2rem;
  width: 70%;
}
.whoami span {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -.1rem;

  display: block;
  color: #000;
}
span.content {
  font-size: 1.8rem;
  letter-spacing: normal;
  font-weight: 100;
  font-family: "Open Sans";
  width: 100%;
}
.btn-clear {
  border: solid 2px #333;
  font-weight: 600;
  display: inline-block;
  transition: all .3s;
  position: relative;
  margin-right: 2em;
}
.btn-clear a {
  color: #333;
  text-decoration: none;
  position: relative;
  z-index: 2;
    padding: 1em 2em;
  transition: all .3s;
  display: inline-block;
}
.btn-clear span {
  position: absolute;
  transition: all .2s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.btn-clear:hover span {
  background: #333;
  color: #fff;
  width: 100%;
}
.btn-clear:hover a {
  color: #fff;
}
